{% extends 'orders/header.html' %} {% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3>EatWell! Shop Hours</h3>
                </div>
                <div class="row justify-content-center">
                    <p>Saturday-Sunday 10AM - 3AM</p>
                </div>
                <div class="row justify-content-center">

                    <p>Monday - Friday 24 Hours</p>

                </div>

                <hr>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <p>We cordially invite our customers to the newly opened premises! food and drink delivery. Our customers unique price promotions and many attractions.</p>

                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}